.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink1 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-text:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
@media(max-width: 1200px) {
  .header-mobile-menu {
    display: none;
  }
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
}

.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.feature-card-image {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card-text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.feature-card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
  }
}

.list-item-container {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.list-item-text {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/block4%20%5B1%5D-1500w.jpg");
}
.footer-container {
  width: 1452px;
  height: 251px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  max-width: 1320px;
  align-items: center;
  padding-left: 3rem;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/playground_assets/block4%20%5B1%5D-1500w.jpg");
}
.footer-container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-text01 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-icon {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
}
.footer-link {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-icon4 {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
}
.footer-container4 {
  display: flex;
  justify-content: space-between;
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text02 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-text03 {
  font-weight: 600;
}
.footer-text04 {
  font-weight: 600;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-link3 {
  text-decoration: none;
}
.footer-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text05 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-link4 {
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-container7 {
  flex: 0 0 auto;
  display: none;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text06 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-text07 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text08 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text09 {
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
}

@media(max-width: 1200px) {
  .footer-container {
    width: 100%;
    background-size: cover;
    background-image: url("public/playground_assets/block4%20%5B1%5D-1500w.jpg");
  }
  .footer-container4 {
    width: 663px;
  }
  .footer-container5 {
    width: 185px;
    height: 111px;
  }
  .footer-container6 {
    width: 301px;
  }
  .footer-container7 {
    display: none;
  }
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
  .footer-container5 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-container6 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-container7 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .footer-container1 {
    flex-direction: column;
  }
  .footer-container2 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container4 {
    flex-wrap: wrap;
  }
  .footer-container5 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-container6 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-container7 {
    width: 50%;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .footer-container {
    height: 316px;
  }
  .footer-container5 {
    width: 189px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text {
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text02 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text05 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 230px;
  height: 78px;
  align-self: center;
  object-fit: contain;
  margin-right: 0px;
}
.home-image1 {
  width: 100px;
  object-fit: cover;
}
.home-image2 {
  width: 70px;
  height: 108px;
  align-self: center;
  object-fit: cover;
  padding-left: 0x;
  padding-right: 0x;
}
.home-image3 {
  width: 98px;
  height: 112px;
  align-self: center;
  object-fit: cover;
}
.home-container06 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 645px;
  bottom: 0px;
  height: 80vh;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: right;
  border-bottom-left-radius: 10rem;
}
.home-image4 {
  width: 1599px;
  height: 100%;
  object-fit: cover;
}
.home-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: 0px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image5 {
  width: 69%;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-container08 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text09 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text10 {
  text-align: center;
}
.home-text13 {
  margin-top: 20px;
  text-align: center;
  padding-left: 48px;
  margin-bottom: 20px;
  padding-right: 48px;
}
.home-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  flex-direction: column;
}
.home-contaier {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-contact {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-hero2 {
  width: 1600px;
  display: flex;
  max-width: 1320px;
  margin-right: 26px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container10 {
  width: 1386px;
  height: 759px;
  display: flex;
  position: relative;
  max-width: 1600px;
  align-self: center;
  min-height: 50vh;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/web3chain-1500h.jpg");
}
.home-card1 {
  width: 649px;
  height: 616px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: 10px;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text46 {
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text47 {
  color: var(--dl-color-secondary-600);
  text-align: left;
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-form {
  width: 429px;
  height: 371px;
  align-self: flex-start;
  padding-top: 10px;
}
.home-input {
  height: 42px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.home-textinput {
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-textinput1 {
  width: 424px;
  height: 50%;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.home-button {
  width: 50%;
  height: 42px;
  padding-top: 10px;
}
.home-container12 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container14 {
  height: 901px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 94px;
}
.home-text53 {
  margin-top: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text54 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.home-image6 {
  width: 300px;
  height: 349px;
  object-fit: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}
.home-text55 {
  text-align: center;
}
.home-text73 {
  text-align: center;
}
.home-container15 {
  width: 1027px;
  height: 520px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text91 {
  width: 982px;
  height: 90px;
  margin-top: var(--dl-space-space-unitandahalfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text92 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.home-text93 {
  color: rgb(203, 12, 159);
  text-decoration: none;
}
.home-text96 {
  color: rgb(203, 12, 159);
  text-decoration: none;
}
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
@media(max-width: 1200px) {
  .home-image4 {
    width: 100%;
    height: 100%;
  }
  .home-features {
    height: 438px;
  }
  .home-container07 {
    height: 1484px;
  }
  .home-image5 {
    width: 69%;
  }
  .home-text09 {
    margin-top: var(--dl-space-space-fourunits);
    text-align: center;
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
  }
  .home-card1 {
    width: 753px;
    height: 531px;
    align-self: stretch;
  }
  .home-form {
    width: 524px;
    height: 305px;
  }
  .home-input {
    width: 348px;
    height: 42px;
  }
  .home-textinput {
    width: 346px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home-textinput1 {
    width: 100%;
    height: 121px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home-button {
    width: 169px;
    height: 42px;
    padding-top: 10px;
    background-color: transparent;
  }
  .home-container14 {
    width: 751px;
    height: 937px;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
  }
  .home-image6 {
    width: 275px;
    height: 298px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .home-text55 {
    text-align: center;
    padding-top: 40px;
  }
  .home-container15 {
    height: 594px;
  }
  .home-text91 {
    width: 946px;
    height: 148px;
    text-align: center;
    margin-left: var(--dl-space-space-fourunits);
    margin-bottom: 0px;
  }
  .home-container17 {
    width: 516px;
    margin-right: 0px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container01 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-container02 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .home-image4 {
    margin-left: 0px;
  }
  .home-features {
    max-width: 960px;
  }
  .home-container07 {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-image5 {
    width: 69%;
    height: auto;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container08 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-text09 {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
  }
  .home-text13 {
    text-align: center;
  }
  .home-container09 {
    max-width: 80%;
  }
  .home-contaier {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero2 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container10 {
    max-width: 960px;
  }
  .home-card1 {
    width: 615px;
    height: 598px;
  }
  .home-container17 {
    width: 45%;
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-text05 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-container06 {
    display: none;
  }
  .home-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container07 {
    max-width: 720px;
  }
  .home-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text09 {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
  }
  .home-text13 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-card1 {
    align-items: center;
  }
  .home-text47 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-container14 {
    width: 80%;
  }
  .home-container15 {
    margin-top: 0px;
    flex-direction: column;
  }
  .home-text91 {
    width: 641px;
    margin-left: 0px;
  }
  .home-container17 {
    width: 80%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 750px;
  }
  .home-container01 {
    height: 718px;
    padding-top: 0px;
  }
  .home-card {
    padding: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    width: 100%;
    height: 854px;
  }
  .home-container07 {
    height: 1282px;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-hero1 {
    width: 478px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-image5 {
    padding-bottom: 0px;
  }
  .home-container08 {
    height: 1197px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text09 {
    text-align: center;
  }
  .home-contaier {
    height: 2866px;
    margin-top: 0px;
    margin-bottom: 96px;
  }
  .home-hero2 {
    width: 479px;
  }
  .home-container10 {
    width: 478px;
    height: 603px;
    margin-right: 0px;
    padding-bottom: 100px;
  }
  .home-card1 {
    width: 423px;
    height: 100%;
    padding: var(--dl-space-space-unit);
    margin-bottom: 30px;
  }
  .home-input {
    width: 350px;
  }
  .home-textinput {
    width: 350px;
  }
  .home-textinput1 {
    width: 370px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .home-container12 {
    align-items: center;
    flex-direction: column;
  }
  .home-container13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text55 {
    padding-bottom: 0px;
  }
  .home-container16 {
    height: 1673px;
    padding-bottom: 52px;
    justify-content: flex-end;
  }
  .home-text91 {
    width: 352px;
    height: 212px;
    margin-top: 0px;
  }
}
