<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <img
      alt="image"
      src="public/playground_assets/pfp2-300w.jpg"
      class="component1-image"
    />
    <h2 class="component1-text headingTwo">
      <span class="component1-text01">Latinamilf.eth</span>
    </h2>
    <h3 class="component1-text02 headingTwo"><span>About me</span></h3>
    <span class="component1-text03">
      <span>Hi! It&apos;s great to meet you. Let&apos;s connect.</span>
      <br />
      <span></span>
      <br />
      <span>I am excited on where we can go in this vastly growing space.</span>
      <br />
      <span></span>
      <br />
      <span>
        To Σ it up I bring a technical background in Blockchain, Software,
        Computers, Electronics Engineering and Communications.
      </span>
      <br />
      <span></span>
      <span></span>
      <br />
      <span>
        Following 10 years service in the Military, I spent my time as a Ground
        Station Engineer assisting Initial Orbit Acquisition
      </span>
      <span>on new Satellites.</span>
      <br />
      <span>Having the pleasure working with</span>
      <span class="component1-text21"></span>
      <span>SSC, SpaceX, JAXA, ESA, NASA.</span>
      <br />
      <span></span>
      <br />
      <span>
        I have been following Blockchain and Web3 technologies closely since
        2016, absorbing and experienced a lot over these years.
      </span>
      <br />
      <span>
        I also enjoy giving back to the community. You can follow my projects
        below.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        What&apos;s possible with blockchain is incredible. I look forward to
        assisting you in your transition to
      </span>
      <br />
      <span>Web3 Investing and Technology Transition.</span>
      <br />
      <span></span>
      <br />
      <span>Latinamilf.eth</span>
    </span>
  </div>
</div>
